.message {
  max-width: 80%;
  border-radius: 0 8px 8px 8px;
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
  background: rgb(230, 247, 255);
  padding: 5px;
  margin: 0 10px 0 20px;
  word-break: break-all;
  min-width: 20%;
  &_my{
    margin: 0 20px 0 10px;
    border-radius: 8px 0 8px 8px;
    background: white;
  }
  &__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    //min-height: 100px;
    &_my{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      //min-height: 100px;
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
  }
  &__sender{
    font-weight: bold;
    margin-left: 15px;
    margin-top: 10px;
    &_my{
      margin-left: 0;
      margin-right: 15px;
      display: flex;
      justify-content: flex-end;
    }
  }
  &__datetime{
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 10px;
    &_my{
      margin-left: 0;
      margin-right: 15px;
      display: flex;
      justify-content: flex-end;
    }
  }
  &__text{
    &_my{
      display: flex;
      justify-content: flex-end;
    }
  }
}
