.users{
  background: #f0f2f5;
  width: 100%;
  &_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
  }
  &_user_card{
    box-shadow: 0px 0px 55px 12px rgba(34, 60, 80, 0.2);
    max-width: 300px;
    width: 100%;
    height: 300px;
    border:1px solid #f0f2f5;
    border-radius: 10px;
    margin-top:10px
  }
}
.user{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;


  &_logo{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 75px;
  }
}
