.feed_element{
  box-shadow: 0 0 25px 6px rgba(34, 60, 80, 0.2);
  width: 80%;
  min-height: 100px;
  border:1px solid #f0f2f5;
  border-radius: 10px;
  word-break: break-all;
  color: black;
  margin: 10px auto auto;
  padding: 10px 20px;
  &_likes{
    display: inline-flex;
    align-content: center;
  }
}
.like{
  cursor: pointer;
  &:hover{
    color: red;
  }
}
