.personal-area{
  background: #f0f2f5;
  width: 100%;
  height: calc(100vh - 64px);
  &__container{
    width: 100%;
    height: 100%;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 300px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    overflow: auto;
  }
  &__card{
    box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
    border:1px solid #f0f2f5;
    border-radius: 10px;
    background: white;
    overflow: auto;

    &_user {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }

    &_messages {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }

    &_likes {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }
}
.user{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;


  &__logo{
    box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
    border-radius: 75px;
    margin: 30px;
  }

  &__name {
    font-size: 32px;
    line-height: 40px;
  }

  &__description {
    font-size: 20px;
    line-height: 40px;
  }
}

.stat-card {
  padding: 10px 20px;
  &__number {
    font-size: 72px;
    line-height: 72px;
    text-align: center;
    margin-top: 10px;

    @media (max-width: 800px) {
      font-size: 60px;
      line-height: 60px;
    }
  }
  &__title {
    @media (max-width: 800px) {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.messages-stats {
  padding: 10px 20px;
  &__content {
    position: relative;
    height: calc(100% - 26px);
    width: 100%;
  }
}
