.personal_area {
  background: #f0f2f5;
  width: 100%;
  height: calc(100vh - 64px);
}
.personal_area_container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 40px;
}
.personal_area_user_card {
  box-shadow: 0px 0px 55px 12px rgba(34, 60, 80, 0.2);
  max-width: 500px;
  width: 100%;
  height: 400px;
  border: 1px solid #f0f2f5;
  border-radius: 10px;
}

.user {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.user_logo {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 75px;
}

/*# sourceMappingURL=style.css.map */
