.registry{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &_login{
    width: 400px;
    height: 350px;
  }
  &_btn{
    height: 32px;
  }
  &_title{
    text-align: center;
    margin-top: 20px;
  }
  &_button_container{
    display: flex;
    justify-content: space-between;
  }
}
