.chat-sidebar {
  overflow: hidden;
  &__item {

    &-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;
    }
  }
}
.groups_sidebar{
  width: 30vw !important;
  min-width: 0 !important;
  max-width: 100000px !important;
  flex: none !important;
  @media(max-width: 700px){
    width: 60px !important;
  }

  &__avatar {
    @media(max-width: 700px){
      width: 30px !important;
      height: 30px !important;
    }
  }
}
.chat-sidebar__item-name{

  @media(max-width: 700px){
    display: none;
    overflow: hidden;
  }
}
