
.user{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;


  &_logo{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 75px;
  }
}