.chat-sidebar {
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
  overflow-y: scroll;
  overflow-x: hidden ;
  width: 30vw !important;
  min-width: 0 !important;
  max-width: 10000px !important;
  flex: none!important;

  background: white;
  @media(max-width: 700px){
    width: 60px !important;
    &__name{
     display: none;
    }
  }
  &__avatar {
    @media(max-width: 700px){
      width: 30px !important;
      height: 30px !important;
    }
  }
  &__item {
    height: 60px !important;
    @media(max-width: 700px){
      padding-left: 10px !important;
      height: 40px !important;
    }
    //min-width: 200px;
    overflow: hidden;
    //background: white;

    &-content {
      //background: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;
    }
  }
}
@media(max-width: 900px){

}
