.login{
  background: aliceblue;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50px;
  margin: 5px;
}
.header{
  width: 100vw;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    color: white;
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: 500;
    @media(max-width: 700px){
      font-size: 1em;
    }
  }
}
.nav_menu{
  //min-width: 500px;
  display: block;
}
