.login {
  background: aliceblue;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50px;
  margin: 5px;
}

.header {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.nav_menu {
  min-width: 500px;
}

/*# sourceMappingURL=style.css.map */
