.auth {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}
.auth_container {
  width: 50vw;
  height: 25vh;
}
.auth_login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.auth_btn {
  height: 32px;
}
.auth_title {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
