.chat{
  margin: auto;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 64px);
  .messages{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 124px);
    overflow: auto;
    background: #f5f5f5;
  }

  &__input-area {
    display: flex;
    align-items: center;
    padding: 10px;
    background: white;
    box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
  }
  .chat_sidebar{
    overflow: scroll;
  }
}
