.chat {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  height: 100%;
}
.chat .messages {
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow: auto;
}

/*# sourceMappingURL=style.css.map */
